@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&display=swap");

* {
  box-sizing: border-box;
  background-color: #212a3e;
}

.container {
  height: 100vh;
  background-color: #212a3e;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 60px 1fr;
  grid-template-areas: " s1 h1" "s1 m1";
  gap: 4px;
}
.header {
  grid-area: h1;

  border-radius: 5px;
}
.main-header {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  position: relative;
}
.left-header {
  justify-self: flex-start;
}
.home-icon {
  color: #9ba4b5;

  position: absolute;
  left: 10px;
  top: 29px;
  font-size: 24px;
}
.home-icon:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#9ba4b5, 0.3);
  transition: all 250ms linear;
  border: 1px solid #9ba4b5;
}
.search-input {
  outline: none;
  border: none;
  border: 2px solid #9ba4b5;

  border-radius: 5px;
  background: transparent;
  position: absolute;
  left: 50px;
  top: 30px;
}

.search-icon {
  color: #9ba4b5;
  background: transparent;
  z-index: 1;
  position: absolute;
  left: 215px;
  top: 34px;
}

.logo {
  color: #bdcdd6;

  font-family: "Indie Flower", cursive;
  font-weight: bolder;
}

.logo span {
  color: #9ba4b5;
  font-family: "Playball", cursive;
  font-size: 24px;
}

.right-header {
  position: relative;
  right: 60px;
  top: 0px;
}

.sidebar {
  background-color: #95a792;
  border-radius: 5px;
  background-color: #212a3e;
  grid-area: s1;
}
.sidebar-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}
.btn {
  color: #50577a;
  font-size: 30px;
  position: absolute;
  top: 65px;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
}
.btn:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}
.fav {
  color: #50577a;
  position: absolute;
  top: 100px;
  font-size: 30px;
  margin-top: 0;
  padding-top: 0;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
}
.fav:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}
.user {
  font-size: 30px;
  color: #50577a;
  border-radius: 5px;
  position: absolute;
  top: 135px;
  color: #50577a;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
}

.user:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}

.calender {
  color: #50577a;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
  font-size: 30px;
  position: absolute;
  top: 170px;
}
.calender:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}

.facebook {
  color: #50577a;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 4px;
}
.facebook:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}
.google {
  color: #50577a;
  box-shadow: 0px 2px 0 #081528, 2px 4px 6px #212a3e;
  transition: all 150ms linear;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 4px;
}
.google:hover {
  border-radius: 5px;
  background: #212a3e;
  box-shadow: 1px 1px 2px rgba(#50577a, 0.3);
  transition: all 250ms linear;
  border: 1px solid #50577a;
}
.main {
  background-color: #50577a;
  border-radius: 5px;
  width: 100%;
  grid-area: m1;
}
.main-wrapper {
  height: 100vh;

  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: relative;
}
.todo {
  height: 90%;
  overflow-y: auto;
  border-radius: 0px;
  border-radius: 0px;

  background: linear-gradient(145deg, #0b1b33, #09172b);
  box-shadow: 7px 7px 14px #040a13, -7px -7px 14px #10284d;
}
.todo-main {
  background-color: #394867;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.todo-top {
  display: flex;
  margin-top: 45px;
}
.todo-title1 {
  color: #9ba4b5;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 15px;

  font-family: "Playball", cursive;
}

.todo-close {
  color: #9ba4b5;
  background-color: transparent;
  position: absolute;
  top: 17px;
  right: 15px;
}
.todo-mid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  background-color: transparent;
}
.todo-bottom {
  display: flex;
  background-color: #394867;
  z-index: 1;
}
.add {
  position: absolute;
  right: 350px;
  bottom: 15px;
  color: #0a1930;
  background-color: transparent;
  font-size: 24px;
}
.todo-title {
  color: #9ba4b5;
  background-color: transparent;
  position: absolute;
  right: 285px;
  bottom: 0px;
  font-size: 16px;
  display: inline-block;
  white-space: nowrap;
}
.doing {
  background: linear-gradient(145deg, #0b1b33, #09172b);
  box-shadow: 7px 7px 14px #040a13, -7px -7px 14px #10284d;
  height: 90%;
  overflow-y: auto;
}

.done {
  background: linear-gradient(145deg, #0b1b33, #09172b);
  box-shadow: 7px 7px 14px #040a13, -7px -7px 14px #10284d;
  height: 90%;
  overflow-y: auto;
  margin-right: 10px;
}
.main-card {
  border-radius: 3px;
  background-color: #212a3e;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #394867;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.top-card {
  color: #0a1930;
  background-color: #212a3e;
}

.name-text {
  margin: 0;
  margin-top: 4px;
  padding: 0px 4px 0px 4px;
  font-family: "Audiowide", sans-serif;
  font-size: 16px;
  background-color: #212a3e;
  color: #6b728e;
}
.desc-text {
  margin: 0;
  padding: 0px 4px 0px 4px;
  margin-bottom: 5pxpx;
  font-family: "Advent Pro", sans-serif;
  font-size: 14px;
  background-color: #212a3e;
  color: #6b728e;
}
.bottom-card {
  position: relative;
  margin-top: 4px;
  padding: 0px 4px 0px 4px;
}
.left {
  color: #394867;
}
.comment {
  font-size: 16px;
  margin-left: 3px;
  margin-right: 3px;
}
.time {
  font-size: 16px;
  margin-right: 3px;
}
.atta {
  font-size: 16px;
}
.right {
  position: absolute;
  right: 0;
  top: 0px;
  color: #394867;
}
.edit {
  font-size: 16px;
  margin-right: 5px;
}
.delete {
  font-size: 16px;
  margin-right: 3px;
}

.add-main {
  background-color: #394867;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  left: 400px;
  top: 20px;
}
.add-close {
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  color: #9ba4b5;
}
.add-text {
  width: 80%;
  color: #9ba4b5;
  margin-left: 0px;
  margin-top: 30px;
  border: 2px solid #9ba4b5;

  border-radius: 5px;
  background: transparent;
}
.add-desc {
  width: 80%;
  margin-left: 0px;
  border: 2px solid #9ba4b5;
  color: #9ba4b5;
  border-radius: 5px;
  background: transparent;
}
.add-btn {
  width: 80%;
  color: #9ba4b5;
  position: relative;
  left: 0px;
  top: 5px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #9ba4b5;
  border-radius: 5px;
  background: transparent;

  font-family: "Playball", cursive;
}

.edit-main {
  background-color: #212a3e;
  margin-top: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  left: 45px;
  padding: 0px;
  z-index: 20;
}
.edit-close {
  background-color: transparent;
  position: absolute;
  right: 7px;
  top: 5px;
  color: #9ba4b5;
}
.top {
  width: 80%;
  margin-top: 30px;
}
.bottom {
  width: 80%;
  margin-top: 5px;
}
label {
  color: #9ba4b5;
  font-size: 14px;
}

.edit-text {
  width: 100%;
  color: #9ba4b5;

  border: 2px solid #9ba4b5;

  border-radius: 5px;
  background: transparent;
}
.edit-desc {
  width: 100%;
  margin-left: 0px;
  margin-top: 0;
  border: 2px solid #9ba4b5;
  color: #9ba4b5;
  border-radius: 5px;
  background: transparent;
}

.edit-btn {
  width: 80%;
  color: #9ba4b5;
  position: relative;
  left: 0px;
  top: 5px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #9ba4b5;
  border-radius: 5px;
  background: transparent;

  font-family: "Playball", cursive;
}
